<!-- Modal Retire Asset  -->
<div class="modal fade" id="Modal-Rent-UserAsset-{{ item['asset'][-1] }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog text-center">
	  <div class="modal-content ">
		<div class="modal-header ">
		  <h5 class="modal-title" id="exampleModalLabel">Retire  Asset</h5>
		  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&times;</button>
		</div>
		<div class="modal-body text-center">
			<div class="container " >
				<form method="POST" >
					{{asset_rent_form.hidden_tag()}}
					{{ item['asset'][-1]}}
					Rent Asset <em><strong>{{ item['asset'][0]}} - {{item['asset'][1]}}</strong></em>?
					<input id="asset_rental_id" name="asset_rental_id" type="hidden" value="{{ item['asset'][-1]}}">
					
					<br>
					<br>
	  
					<div class="col-md-12">
					  <label for="employee" class="form-label">Employee:</label>

					  
					  <select class="form-control text-center" name="employee">
						 <option  value="{{item['owner']}}">{{item['owner']}}</option>				 
					  </select>
					  <br>
					<label for="given_out" class="form-label" >Action:</label>
	
					<br>
					
					<select class="form-control text-center" name="given_out">
						<option  value="in">In</option>
					</select>

					<br>
					<label for="date" class="form-label">{{ asset_rent_form.date.label()}}</label>
					{{asset_rent_form.date(class="form-control", placeholder="Date")}}
					<br>
					<label for="remarks" class="form-label">{{ asset_rent_form.remarks.label()}}</label>
					{{asset_rent_form.remarks(class="form-control text-center", placeholder="Remarks")}}
		
				  </div>
				  <br>
				  {{asset_rent_form.submit(class = "btn btn-outline-info btn-block" )}}
	
	
				</form>		
			</div>  
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  <!--<button type="button" class="btn btn-primary">Save changes</button>-->
		</div>
	  </div>
	</div>
  </div>  



