<!-- Modal Retire Asset  -->
<div class="modal fade" id="Modal-Retire-Asset-{{ item.assets_id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog text-center">
	  <div class="modal-content ">
		<div class="modal-header ">
		  <h5 class="modal-title" id="exampleModalLabel">Retire  Asset</h5>
		  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&times;</button>
		</div>
		<div class="modal-body text-center">
			<div class="container " >
				<form method="POST" >
					{{retire_asset_form.hidden_tag()}}
					<p class="bg-warning">Retire  Asset <em><strong>{{item.category}} - {{item.serial_number}}</strong></em>?</p>

					<input id="retire_asset" name="retire_asset" type="hidden" value="{{item.serial_number}}">
					<br>

					<br>

					<div class="col-md-12">
							<br>
							<label for="reg_date" class="form-label">{{ retire_asset_form.reg_date.label()}}</label>
							{{retire_asset_form.reg_date(class="form-control text-center", placeholder="Registration Date")}}
							<br>

							<label for="reason" class="form-label">{{ retire_asset_form.reason.label()}}</label>
							{{retire_asset_form.reason(class="form-control text-center", placeholder="Reason")}}
							<br>

							<label for="remarks" class="form-label">{{ retire_asset_form.remarks.label()}}</label>
							{{retire_asset_form.remarks(class="form-control text-center", placeholder="Remarks")}}
							

					<br>
					{{retire_asset_form.submit(class = "btn btn-outline-primary btn-block" )}}
					<br>
				</form>		
			</div>  
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  <!--<button type="button" class="btn btn-primary">Save changes</button>-->
		</div>
	  </div>
	</div>
  </div>  



