
  <!-- Modal Edit Asset  -->
  <div class="modal fade" id="Modal-Edit-Asset-{{ item.assets_id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Edit An Asset</h5>
		  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&times;</button>
		</div>
		<div class="modal-body text-center ">
		  <form method="POST">
			  {{edit_asset_form.hidden_tag()}}
			  Edit The Asset <em><strong>{{item.serial_number}}</strong></em>?
			  <input id="asset_edit" name="asset_edit" type="hidden" value="{{item.assets_id}}">	  
			  <br>
			  <br>

			  <div class="col-md-12 text-center ">
				<label for="serial_number" class="form-label ">{{ edit_asset_form.serial_number.label()}}</label>
				{{edit_asset_form.serial_number(class="form-control text-center ", value=item.serial_number, placeholder="Serial Number")}}
			  </div>
			  <br>
			  <div class="col-md-12">
				<label for="category" class="form-label">{{ edit_asset_form.category.label()}}</label>				
				<select class="form-control text-center" name="category">
					
					{% for cat in category %}						
						{% if cat == item.category %}						
							<option  value="{{cat}}" selected>{{cat}}</option>
						{% else %}							
							<option  value="{{cat}}" >{{cat}}</option>
						{% endif %}
					{% endfor %}			

				</select>
			  </div>
			  <br>
			  <div class="col-md-12">
				<label for="reg_date" class="form-label">{{ edit_asset_form.reg_date.label()}}</label>
				{{edit_asset_form.reg_date(class="form-control text-center ", value=item.edit_date, placeholder="Registration Date")}}
			  </div>
			  <br>
			  <div class="col-md-12">
				<label for="value" class="form-label">{{ edit_asset_form.value.label()}}</label>
				{{edit_asset_form.value(class="form-control text-center ", value=item.value, placeholder="Value")}}
			  </div>
			  <br>
			  <div class="col-md-12">
				<label for="remarks" class="form-label">{{ edit_asset_form.remarks.label()}}</label>
				{{edit_asset_form.remarks(class="form-control text-center ", vaule= item.remakes, placeholder="Remarks")}}

			  </div>
			  <br>
			  {{edit_asset_form.submit(class = "btn btn-outline-info btn-block")}}


		  </form>		

		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  <!--<button type="button" class="btn btn-primary">Save changes</button>-->
		</div>
	  </div>
	</div>
  </div>  


  <!-- Modal Delete Asset  -->
  <div class="modal fade" id="Modal-Delete-Asset-{{ item.assets_id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Delete An Asset</h5>
		  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&times;</button>
		</div>
		<div class="modal-body">
		  <form method="POST">
			  {{delete_form.hidden_tag()}}
			  Delete Asset <em><strong>{{item.serial_number}} - {{item.category}}</strong></em>?
			  <input id="asset_delete" name="asset_delete" type="hidden" value="{{item.assets_id}}">	  
			  <br>
			  <br>

			  <div class="col-md-6">
	
			  </div>
			  <br>
			  {{delete_form.submit(class = "btn btn-outline-info btn-block" )}}


		  </form>		

		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  <!--<button type="button" class="btn btn-primary">Save changes</button>-->
		</div>
	  </div>
	</div>
  </div>  

  <!-- Modal REnt Asset  -->
  <div class="modal fade" id="Modal-Rent-Asset-{{ item.assets_id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Rent An Asset </h5>
		  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&times;</button>
		</div>
		<div class="modal-body text-center ">
		  <form method="POST">
			  {{asset_rent_form.hidden_tag()}}
			  Rent Asset <em><strong>{{item.serial_number}} - {{item.category}}</strong></em>?
			  <input id="asset_rental_id" name="asset_rental_id" type="hidden" value="{{item.assets_id}}">	  
			  <br>
			  <br>

			  <div class="col-md-12">
				<label for="employee" class="form-label">Employee:</label>

				{%if not item.owner or item.given_out=='in'%}
				<select class="form-control text-center" name="employee">
					{%for e in emp %}
					<option  value="{{e}}">{{e}}</option>
					{%endfor%}			

				</select>
				{%else%}
				<select class="form-control text-center" name="employee">	
					<option  value="{{item.name}} {{item.surname}}">{{item.name}} {{item.surname}}</option>
				</select>
				{%endif%} 
			
				<br>
				<label for="given_out" class="form-label" >Action:</label>

				<br>
				{% if item.given_out=='out' %}
				<select class="form-control text-center" name="given_out">		<option  value="in">In</option>
				</select>
				{% else %}
				<select class="form-control text-center" name="given_out">		<option  value="out">Out</option>
				</select>
				{%endif%} 

				
				
				<br>
				<label for="date" class="form-label">{{ asset_rent_form.date.label()}}</label>
				{{asset_rent_form.date(class="form-control", placeholder="Date")}}
				<br>
				<label for="remarks" class="form-label">{{ asset_rent_form.remarks.label()}}</label>
				{{asset_rent_form.remarks(class="form-control text-center", placeholder="Remarks")}}
	
			  </div>
			  <br>
			  {{asset_rent_form.submit(class = "btn btn-outline-info btn-block" )}}


		  </form>		

		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  <!--<button type="button" class="btn btn-primary">Save changes</button>-->
		</div>
	  </div>
	</div>
  </div>  


    <!-- Modal REnt Asset from users view  -->
	<div class="modal fade" id="#Modal-Rent-Asset-{{item.assets_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel">Rent An Asset </h5>
			  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&times;</button>
			</div>
			<div class="modal-body text-center ">
			  <form method="POST">
				  {{asset_rent_form.hidden_tag()}}
				  Rent Asset <em><strong>{{item.serial_number}} - {{item.category}}</strong></em>?
				  <input id="asset_rental_id" name="asset_rental_id" type="hidden" value="{{item.assets_id}}">	  
				  <br>
				  <br>
	
				  <div class="col-md-12">
					<label for="employee" class="form-label">Employee:</label>
	
					{%if not item.owner or item.given_out=='in'%}
					<select class="form-control text-center" name="employee">
						{%for e in emp %}
						<option  value="{{e}}">{{e}}</option>
						{%endfor%}			
	
					</select>
					{%else%}
					<select class="form-control text-center" name="employee">	
						<option  value="{{item.name}} {{item.surname}}">{{item.name}} {{item.surname}}</option>
					</select>
					{%endif%} 
				
					<br>
					<label for="given_out" class="form-label" >Action:</label>
	
					<br>
					{% if item.given_out=='out' %}
					<select class="form-control text-center" name="given_out">		<option  value="in">In</option>
					</select>
					{% else %}
					<select class="form-control text-center" name="given_out">		<option  value="out">Out</option>
					</select>
					{%endif%} 
	
					
					
					<br>
					<label for="date" class="form-label">{{ asset_rent_form.date.label()}}</label>
					{{asset_rent_form.date(class="form-control", placeholder="Date")}}
					<br>
					<label for="remarks" class="form-label">{{ asset_rent_form.remarks.label()}}</label>
					{{asset_rent_form.remarks(class="form-control text-center", placeholder="Remarks")}}
		
				  </div>
				  <br>
				  {{asset_rent_form.submit(class = "btn btn-outline-info btn-block" )}}
	
	
			  </form>		
	
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			  <!--<button type="button" class="btn btn-primary">Save changes</button>-->
			</div>
		  </div>
		</div>
	  </div>  
	

