{% extends 'base.html' %}
{% block title %}
{{title}}
{% endblock %}

{%block head_links%}

<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.20.0/dist/bootstrap-table.min.css">

<link rel="stlesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

<link rel="stlesheet" href="https://cdn.datatables.net/1.11.5/js/query.dataTables.min.js">

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>

{%endblock%}




{% block content %}

<br>
<a class="btn btn-primary" href="{{url_for('car_partner_add')}}" role="button">Add Car Partner</a>



<div class="container" name="partners" id="partners">

		<div class="card p-3 bg-light">
			<h3 class="text-center text-"><i class="bi bi-list-task"></i> Car Partners</h3>
			<div class="table-responsive">
				
				<table id="categorytable" class="table table-info text-center table-bordered table-hover table-striped table-sm "  >

					<thead>
						<!--Table Columns Here-->
					<tr>
						<th scope="col" data-priority="1">No</th>
						<th scope="col" data-priority="1">Name</th>			
						<th scope="col" data-priority="1">Email</th>
						<th scope="col" data-priority="1">Phone</th>
						<th scope="col" data-priority="2">View Contracts</th>
						<th scope="col" data-priority="2">Add Contract</th>
						<th scope="col" data-priority="2">Delete</th>
			
					</thead>
					<tbody>
						{% for partner in partners %}	
						{% include 'includes/car_partner_modal.html' %}
							<tr>
								<th scope="row">{{loop.index}}</th>
								
								<td>{{partner.company_name}}</td>
								<td>{{partner.email}}</td>
								<td>{{partner.phone}}</td>
								<td>								
									<a title='View Partner Contracts' class="btn btn-sm btn-primary btn-block" href="{{url_for('car_partner_contracts', id = partner.id)}}" role="button"> Contracts
									</a> 
								<td>
									<button title='Add Contract {{partner.name}}'      				  
									class="btn btn-sm btn-outline-danger
										btn-block" data-toggle ="modal" data-target="#Modal-CarContract-{{ partner.id }}">
										<i class="bi bi-plus"></i>
									</button>
								</td>
								
								
								<td>
									<button title='Delete {{partner.name}}'      				  
									class="btn btn-sm btn-outline-danger
										btn-block" data-toggle ="modal" data-target="#Modal-Delete-CarPartner-{{ partner.id }}">    
									<i class="bi bi-trash"></i>
									</button>
								</td>
			
						{%endfor%}

							
					</tbody>

				</table>

			</div>
			
			<script> src = "js/jQuery-3.1..1.min.js"</script>
			<script> src = "js/bootstrap.min.js"</script>
			<script> src = "js/bootstrap-table.min.js"</script>
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.bundle.min.js"></script>
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
			<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.js"></script>



		<script>
		$(document).ready(function(){
			$('#categorytable').DataTable({					
				'hover':true,
				"ordering": true,
				'paging':true,
				'dom':'BQlfrtip',				
				'buttons' : ['print','excel','csv','pdf','colvis'],
				'colReorder': true,
				'responsive': true,
				'select':false,
				
			}
			
			);
			
			$('[data-toggle="tooltip"]').tooltip({placement: "top"});
			
			
		
		});


		</script>

		</div>

</div>




{% endblock %}