{% extends 'base.html' %}
{% block title %}
{{title}}
{% endblock %}

{% block myjavascript %}

{%endblock%}


{% block content %}
<br>
<div class="container" >
	<div class="card p-3 bg-info">
		<h1 class="h3 mb-3 font-weight-normal text-center"><i class="bi bi-person"></i> Edit Leave Entrie</h1>
		<form method = "POST" enctype="multipart/form-data" class="row g-3"> 
			{{form.hidden_tag()}}   <!-- Protect us from CSRF Cross Site Request Forgery sending data between client and server--> 
			
				{%if 'Administrator' in current_user.role or 'Office-HR' in current_user.role%}	
					<div class="col-md-12 col-lg-12" >
						<hr>
						<label for="employee" class="form-label">{{ form.employee.label()}}</label>				
						{{form.employee(class="form-control text-center", placeholder="employee")}}
					</div>
				{%else%} 
					<div class="col-md-12 col-lg-12 d-none" >
						<hr>
						<label for="employee" class="form-label">{{ form.employee.label()}}</label>				
						{{form.employee(class="form-control text-center", placeholder="employee")}}
					</div>
				{%endif%}
			
			
			
				<div class="col-md-6 col-lg-6">
					<hr>
					<label for="from_" class="form-label">{{ form.from_.label()}}</label>
					
					{{form.from_(class="form-control", id="day1", placeholder="Leave From")}}
				</div>
				<div class="col-md-6 col-lg-6">
					<hr>
					<label  for="to_" class="form-label">{{ form.to_.label()}}</label>
					
					{{form.to_(class="form-control", id="day2", placeholder="Leave Until")}}
				</div>
				<div class="col-md-12 col-lg-12 text-center">
					<br>
					<label class="bg-warning" for="" > <span  id="output"> </span> Days For Current Request</label>
				</div>
				<div class="col-md-3 col-lg-3">
					<hr>
					<br>
					<label for="reason" class="form-label">{{ form.reason.label()}}</label>
					
					{{form.reason(class="form-control", placeholder="Reason")}}
				</div>
				
				<div class="col-md-3 col-lg-3">
					<hr>
					<br>
					<label for="country" class="form-label">{{ form.country.label()}}</label>
					
					{{form.country(class="form-control",  placeholder="country")}}
				</div>
				<div class="col-md-6 col-lg-6">
					<hr>
					<br>
					<label for="docs" class="form-label">{{ form.docs.label()}}</label>
					
					{{form.docs(class="form-control", placeholder="Documnet For Leave:")}}
				</div>
				<div class="col-md-6 col-lg-6">
					<hr>
					<br>
					<label for="remarks" class="form-label">{{ form.remarks.label()}}</label>
					
					{{form.remarks(class="form-control", placeholder="Remarks")}}
				</div>
				
				<div class="col-md-6 text-center ">
					<hr>
					<label for="half_day" class="form-label">{{ form.half_day.label()}}</label>
					<h6><span class="bg-warning">Check Half Day Only If You Want To Specify That Its Half Day Leave.</span></h6>				
					{{form.half_day(class="form-control", id="halfday",  			placeholder="Half Day?")}}
				</div>

				<div class="col-md-12">
					<hr>                 
						<button type="submit" class="btn btn-lg btn-block btn-primary"> Submit <i class="bi bi-plus-circle-fill"></i></button>
					<hr> 
				</div> 
				<div class="col-md-12">   
					<a class="btn btn-lg btn-block btn-primary" href="{{url_for('leaves')}}" role="button">Back</a> 
				</div> 
		</form>			
	</div>

</div>	
<script>
	function calculateDays() {
	var day1 = document.getElementById("day1").value;
	var day2 = document.getElementById("day2").value; 

	const dateOne = new Date(day1);
	const dateTwo = new Date(day2);
	const time = Math.abs(dateTwo - dateOne) + 1 ;
	const days = Math.ceil(time / (1000 * 60 * 60 * 24));
	
	 if (isNaN(days)) {
			return false;      
	} else {
		document.getElementById("output").innerHTML = days;      
	}
	}

	day1.addEventListener('input', calculateDays);
	day2.addEventListener('input', calculateDays);
	
</script>
{% endblock %}