{% extends 'base.html' %}

{% block title %}
{{title}}
{% endblock %}

{%block head_links%}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">

<link rel="stlesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<link rel="stlesheet" href="https://cdn.datatables.net/1.11.5/js/query.dataTables.min.js">

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>

{%endblock%}




{% block content %}

<div class="card p-3 bg-light">
	<h3 class="text-center text-"><i class="bi bi-wallet-fill"></i> Assets That is Out Of the Company</h3>

	<div class="table-responsive">
		
		<table  class="table table-dark text-center table-bordered table-hover table-striped table-sm " >
			{% for item in all_assets_table %}
				{% if 'Administrator' not in current_user.role %}
					{% if item[0] == current_user.name + ' '+ current_user.surname  %}
					<thead>
						<tr>
							<th>{{item[0]}}</th>
						</tr>
					</thead>
						
						<tbody>
						<tr>
							<td>
							<table  class="table table-primary text-center table-bordered table-hover table-striped table-sm ">
								<thead>
										<tr>
										<th scope="col">No</th>
										<th scope="col">Serial Number</th>
										<th scope="col">Category</th>
										<th scope="col">Value</th>
										<th scope="col">Rented Date</th>
										</tr>
								</thead>
								{%for row in item[1:]%}
										<tr>
											<th scope="row">{{loop.index}}</th>
											<td>{{row[0]}}</td>
											<td>{{row[1]}}</td>
											<td>{{row[2]}}</td>
											<td>{{row[3]}}</td>							
										</tr>
								
								{%endfor%}		
							</table>
							</td>
						</tr>
						{%endif%}
				{%else%}
						<thead>
							<tr>
								<th>{{item[0]}}</th>
							</tr>
						</thead>
							
							<tbody>
							<tr>
								<td>
								<table  class="table table-primary text-center table-bordered table-hover table-striped table-sm ">
									<thead>
											<tr>
											<th scope="col">No</th>
											<th scope="col">Serial Number</th>
											<th scope="col">Category</th>
											<th scope="col">Value</th>
											<th scope="col">Rented Date</th>
											</tr>
									</thead>
									{%for row in item[1:]%}
											<tr>
												<th scope="row">{{loop.index}}</th>
												<td>{{row[0]}}</td>
												<td>{{row[1]}}</td>
												<td>{{row[2]}}</td>
												<td>{{row[3]}}</td>							
											</tr>
									
									{%endfor%}		
								</table>
								</td>
							</tr>
			  		{% endif %}
			{%endfor%}  	
		  
			  
		</table>
					
			

		

	</div>
	
	<script> src = "js/jQuery-3.1..1.min.js"</script>
	<script> src = "js/bootstrap.min.js"</script>
	<script> src = "js/bootstrap-table.min.js"</script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.js"></script>





	
</div> 




{% endblock %}

{% block footer %}


{% endblock %}
