{% extends 'base.html' %}
{% block title %}
{{title}}
{% endblock %}

{% block content %}

<div class="container" >
	<br>
	<div class="card p-3 bg-info text-center">
		
		<h1 class="h3 mb-3 font-weight-normal text-center"><i class="bi bi-boxes"></i> Edit Asset</h1>
		
		<form method = "POST" enctype="multipart/form-data"  class="row g-3"> 
			
				{{form.hidden_tag()}}			
				
				<br>
  
				<div class="col-md-12 text-center ">
				  <label for="serial_number" class="form-label ">{{ form.serial_number.label()}}</label>
				  {{form.serial_number(class="form-control text-center ", placeholder="Serial Number")}}
				</div>
				<br>
				<div class="col-md-12">
				  <label for="category" class="form-label">{{ form.category.label()}}</label>
				  {{form.category(class="form-control text-center ", placeholder="Category")}}				

				</div>
				<br>
				<div class="col-md-12">
				  <label for="reg_date" class="form-label">{{ form.reg_date.label()}}</label>
				  {{form.reg_date(class="form-control text-center ", placeholder="Registration Date")}}
				</div>
				<br>
				<div class="col-md-12">
				  <label for="value" class="form-label">{{ form.value.label()}}</label>
				  {{form.value(class="form-control text-center ", placeholder="Value")}}
				</div>
				<br>
				<div class="col-md-12">
				  <label for="remarks" class="form-label">{{ form.remarks.label()}}</label>
				  {{form.remarks(class="form-control text-center ", placeholder="Remarks")}}
				  <br>
				</div>
				
				<br>
				{{form.submit(class = "btn btn-lg btn-block btn-primary")}}
  
  
			</form>		    
	</div>
	<a class="btn btn-lg btn-block btn-primary" href="{{url_for('assets_page')}}" role="button">Back</a>
		</form>
	
	</div>
	
</div>
{% endblock %}