
{% extends 'base.html' %}



{% block title %}
	{{title}}
{% endblock %}


{%block head_links%}

<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.20.0/dist/bootstrap-table.min.css">

<link rel="stlesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

<link rel="stlesheet" href="https://cdn.datatables.net/1.11.5/js/query.dataTables.min.js">

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>

{%endblock%}

{% block content %}
	Daily Liquidation Page
	<br>
	<a class="btn btn-primary" href="{{url_for('add_daily_liquidation')}}" role="button">Send Daily Liquidation</a>


	<div class="card p-3 bg-light">
		<h3 class="text-center text-"><i class="bi bi-file-person-fill"></i>List of Your Daily Liquidation</h3>
		<div class="table-responsive">
			<caption>List of Your Daily Liquidation</caption>
			<table id="mytable" class="table table-info text-center table-bordered table-hover table-striped table-sm " >

				<thead>
					<!--Table Columns Here-->
				<tr>
					<th scope="col">No</th>
					<th data-field = "Total Sales" scope="col">Total Sales</th>
					<th scope="col">Bank Amount</th>
					<th scope="col">Visa Amount</th>
					<th scope="col">Pre Cancels</th>
					<th scope="col">Cancelled Tickets</th>
					<th scope="col">Date Of Creation</th>
					<th scope="col">Date Liquidated</th>
					<th scope="col">Bank Image</th>
					<th scope="col">Visa Image</th>
					<th scope="col">Cancel Tickets Image</th>
					<!-- <th scope="col">Liq Balance</th> -->
					<th scope="col">Remarks</th>
					<th scope="col">Confirmed</th>
					<th scope="col">Owner</th>
					{% if current_user.role == 'Administrator' %}
						<th scope="col">More Details</th>
					{% elif current_user.role == 'Representative' %}
						<th scope="col" data-visible="false">More Details</th>
					{%endif%}						
					<th scope="col">Edit</th>
					<th scope="col">Delete</th>
				</tr>
				</thead>
				<tbody>
					{% for item in ownwed_daily_liqu %}

					
				
					
						<tr>
							<th scope="row">{{loop.index}}</th>
							<td>&euro; {{item.total_sales}}</td>
							<td>&euro; {{item.bank_deposit}}</td>
							<td>&euro; {{item.visa_transaction}}</td>
							<td>&euro; {{item.pre_cancels}}</td>
							<td>{{item.cancelled_tickets}}</td>
							<td>{{item.date_time_actual}}</td> 
							<td>{{item.date_liquidated}}</td>
							<td>
								<a title='Download Bank Deposit' class="btn btn-sm btn-primary btn-block" href="{{url_for('down_file', file_name = item.bank_dep_image)}}" role="button"><i class="bi bi-cloud-download"></i></a>
							</td>
							
							<td>
								<a title='Download JCC Deposit' class="btn btn-sm btn-primary btn-block" href="{{url_for('down_file', file_name = item.jcc_daily_batch_image)}}" role="button"><i class="bi bi-cloud-download"></i></a>
								
							</td>
							<td>
								<a title='Download Cancelled Tickets Deposit' class="btn btn-sm btn-primary btn-block"			
								href="{{url_for('down_file', file_name = item.canceled_ticket_image)}}" role="button"><i class="bi bi-cloud-download"></i></a>								
							</td>
							<!-- <td>&euro; {{item.daily_liquidation_balance}}</td> -->
							<td>{{item.remarks}}</td>
							{%if item.confirm== True%}
								<td>Yes</td>
							{%else%}
								<td>No</td>
							{%endif%}
							{% if current_user.role == 'Administrator' %}
								<td>{{item.fname}} {{item.surname}}</td>
							{%elif current_user.role == 'Representative'%}						  <td>{{current_user.name}} {{current_user.surname}}</td>
							 {%endif%}                          
							
							 <td>
								{% if current_user.role == 'Administrator' %}
									{%if item.confirm ==True %}
										<button 
											class="btn btn-sm btn-info btn-block disabled" >    
											<i class="bi bi-check-circle-fill"></i> Confirmed
										</button>
									{%elif item.confirm == False %}
									
									<a class="btn btn-sm btn-primary btn-block" href="{{url_for('confirm_daily_liquidation',id=item.id)}}" role="button"> <i class="bi bi-check-circle"></i> Confirm</a>
									
									{%endif%}	
								{%elif current_user.role == 'Representative'%}	
								<button                              
									class="btn btn-sm btn-info btn-block" disabled>    
									<i class="bi bi-check-circle-fill"></i>Confirm</button>
								{%endif%}
							</td>
							<td>
								{%if current_user.role=='Administrator'%}
									<a class="btn btn-sm btn-primary btn-block" 
									href="{{url_for('edit_daily_liquidation',id=item.id)}}" role="button"><i class="bi bi-pencil"></i>Edit</a>
								{%elif current_user.role=='Representative' and item.confirm== False %}
									<a class="btn btn-sm btn-primary btn-block" 
									href="{{url_for('edit_daily_liquidation',id=item.id)}}" role="button"><i class="bi bi-pencil"></i>Edit</a>
								{%else%}
									<a class="btn btn-sm btn-primary btn-block disabled" 
									href="{{url_for('edit_daily_liquidation',id=item.id)}}" role="button"><i class="bi bi-pencil"></i>Edit</a>
								{%endif%}
							</td>
							<td>
								<button                                        
									class="btn btn-sm btn-danger btn-block" >    
									<i class="bi bi-person-x"></i>
									Delete</button>
							</td>
						</tr>
					
					{%endfor%}
 
						
				</tbody>

			</table>

		</div>
		
		<script> src = "js/jQuery-3.1..1.min.js"</script>
		<script> src = "js/bootstrap.min.js"</script>
		<script> src = "js/bootstrap-table.min.js"</script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.bundle.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.js"></script>

	
<script>
	$(document).ready(function(){
		$('#mytable').DataTable({					
			'hover':true,
			"ordering": true,
			'paging':true,
			'dom':'BQlfrtip',				
			'buttons' : ['print','excel','csv','pdf','colvis'],
			'colReorder': true,
			'responsive': false,
			'select':false,
		}
		);

	

   	
	});
	
	
</script>
	</div>




{% endblock %}