<!DOCTYPE html>

<head>
 
    <title>Home Page</title>
</head>


<body>
    
    <input type="date" id="day1">
    <input type="date" id="day2">
    <div id="output"></div>
    <script>
            function calculateDays() {
            var day1 = document.getElementById("day1").value;
            var day2 = document.getElementById("day2").value;    
            const dateOne = new Date(day1);
            const dateTwo = new Date(day2);
            const time = Math.abs(dateTwo - dateOne) + ;
            const days = Math.ceil(time / (1000 * 60 * 60 * 24));
            
            if (isNaN(days)) {
                    return false;      
            } else {
                document.getElementById("output").innerHTML = days;      
            }
            }

            day1.addEventListener('input', calculateDays);
            day2.addEventListener('input', calculateDays);
    </script>

</body>



  
</html>