<!DOCTYPE html>
<head>
	<title>Test Table</title>	
	
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
</head>

<body>
	<div class="container">
	<table data-toggle="table data-search="true">
		<thead>
			<tr>
				<th>Player</th>
				<th>Team</th>
				<th>Points</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Russell Westbrook</td>
				<td>Thunder</td>
				<td>2558</td>				
			</tr>
			<tr>
				<td>Michael Jordan</td>
				<td>Orlando</td>
				<td>2000</td>				
			</tr>
			<tr>
				<td>Adetokunbo Jiannis</td>
				<td>Bucks</td>
				<td>10000</td>				
			</tr>
		</tbody>
		<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
	</table>
</div>
</body>


</html>